@{
    ViewData["Title"] = "Home Page";
}

<div id="banner-top" class="banner-top">
	<div id="banner-intro" class="banner-intro"> 
		<img src="/images/GC.png" alt="GC">
		<h1>Gavin Cobb</h1>
		<h2>Software Engineer</h2>
	</div>
</div>
<div class="HomeImage">
	<img src="/images/CircuitTree.png" alt="GC" style="max-width: 100%; height: auto;">
</div>
