
@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!--portfolio-->
	<div id="portfolio" class="portfolio">
		<div class="container" style="width: 100%">
			<div class="portfolio-info">
				<h3>Resumé</h3>
			</div>
			<div class="portfolio-skills">
				<div class="portfolio-skill">
					<div class="skillflex-container">
							<span class="VerticalAlign"></span><img class="SkillCPP" src="/images/CPP_logo.png" alt="C++">
							<span class="VerticalAlign"></span><img class="SkillCSharp" src="/images/CSharp_logo.png" alt="CSharp">
							<span class="VerticalAlign"></span><img class="SkillC" src="/images/C_logo.png" alt="C">
							<span class="VerticalAlign"></span><img class="SkillJS" src="/images/JS_logo.png" alt="JS">
							<span class="VerticalAlign"></span><img class="SkillHTML" src="/images/HTML_logo.png" alt="HTML">
							<span class="VerticalAlign"></span><img class="SkillCSS" src="/images/CSS_logo.png" alt="CSS">
							<span class="VerticalAlign"></span><img class="SkillTS" src="/images/TS_logo.png" alt="TS">
							<span class="VerticalAlign"></span><img class="SkillJava" src="/images/Java_logo.png" alt="Java">
							<span class="VerticalAlign"></span><img class="SkillXML" src="/images/XML_logo.png" alt="XML">
							<span class="VerticalAlign"></span><img class="SkillSQL" src="/images/MSSQL_logo.png" alt="SQL">
					</div>
				</div>
			</div>
			<div class="pdfDocument">
				<object id="ResumePDF" data="/images/GavinCobbResume2022.pdf" type="application/pdf" height="400" width="600"></object>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--portfolio-->

